:root {
    --bg-color: black;
    --card-bg-color: #1E1F21;
    --task-bg-color: #47484b;
    --done-color: #39FF13;
    --delete-color: red;
    --btn-color: #2BC20E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
}

#app {
    height: 100vh;
}

main {
    background-color: var(--bg-color);
    height: 100vh;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.logo>img {
    width: 300px;
    height: 100px;
    object-fit: cover;
}

.new_task {
    width: 100%;
    display: flex;
    justify-content: center;

}

.new_task-input {
    width: 100%;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 17px;
}

.btn {
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 10px;
    background-color: var(--btn-color);
    font-size: 17px;
    color: black;
}

.error {
    color: rgb(255, 38, 0);
    font-size: 22px;
}

.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.tasks_list {
    width: 50%;
}

.task {
    background-color: var(--task-bg-color);
    border-bottom: 4px solid rgba(255, 255, 255, 0.226);
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-radius: 10px;
    padding-left: 20px;
    margin-top: 5px;
    color: white;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

.tasks_card {
    background-color: var(--card-bg-color);
    width: 100%;
    border-radius: 10px;
}

.lineThrough {
    text-decoration: line-through;
}

.check_marks {
    display: flex;
    gap: 30px;
    align-items: center;
    height: 30px;
}

.done,
.delete {
    cursor: pointer;
    font-size: 20px;
}

.delete:hover {
    color: black;
    transform: scale(1.3);
}

.done:hover {
    color: black;
    transform: scale(1.3);
}

.delete {
    margin-right: 20px;
    color: var(--delete-color);
    transition: 0.3s ease;
}

.done {
    color: var(--done-color);
    transition: 0.3s ease;
}

.no_tasks-title {
    color: white;
}

.fa-face-grin-beam-sweat {
    color:var(--btn-color);
}